<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <iframe width="425" height="324" src="https://www.youtube.com/embed/1j_3fh34E44" style="float: right" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-right">
    <h3> Object Detection in Drone Video </h3>
    <p>I applied one of the models in Detectron to a mini-drone video with the goal of comparing various ready-made models
        for the task. Notice how for this particular model there is some fun stuff going on with the shadows classified as
        extra objects from drone perspective.</p>
    <ul>
      <li><a href="https://github.com/facebookresearch/Detectron">Detectron object detector</a></li>
      <li><a href="https://mmspg.epfl.ch/downloads/mini-drone/">Mini-drone dataset</a></li>
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/text.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Text-Based Recommendations </h3>
    <ul>
      <li> Redshift ETL </li>
      <li> Feature analysis and visualization</li>
      <li> Feature extraction</li>
      <li> Stacking classifiers</li>
    </ul>
    <p>Recommend items based on text descriptions of previous selections / Pandas, Plotly, t-SNE, word2vec, spaCy,
      scikit-learn</p>
     <!-- <a class="project-link" href="https://www.goscoutgo.com/">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/styles.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Style Search by Image </h3>
    <p>Search image collection for similarly styled artwork</p>
    <ul>
      <li> Fine-tuning deep convolutional networks / Caffe, DIGITS</li>
      <li> Hyper-parameter optimization</li>
      <li> Visualization / t-SNE</li>
      <li> REST microservice web app / Flask, Python, JavaScript</li>
    </ul>
    <!-- <a class="project-link" href="http://litl.com/products.html">Check it out</a> -->
  </div>
</div>
