<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/text.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Text-Based Recommendations </h3>
    <ul>
      <li> Redshift ETL </li>
      <li> Feature analysis and visualization</li>
      <li> Feature extraction</li>
      <li> Stacking classifiers</li>
    </ul>
    <p>Recommend items based on text descriptions of previous selections / Pandas, Plotly, t-SNE, word2vec, spaCy,
      scikit-learn</p>
     <!-- <a class="project-link" href="https://www.goscoutgo.com/">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/styles.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Style Search by Image </h3>
    <p>Search image collection for similarly styled artwork</p>
    <ul>
      <li> Fine-tuning deep convolutional networks / Caffe, DIGITS</li>
      <li> Hyper-parameter optimization</li>
      <li> Visualization / t-SNE</li>
      <li> REST microservice web app / Flask, Python, JavaScript</li>
    </ul>
    <!-- <a class="project-link" href="http://litl.com/products.html">Check it out</a> -->
  </div>
</div>
